header.row        
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        a.navbar-brand(href='/')
          img.logo(alt='Brand', src='/images/logo.png')
      ul.nav.navbar-nav.navbar-right
        if(user)
          li.dropdown
            img.profile-small(alt= "#{user.fullname}", src="#{user.pic}")
            a.dropdown-toggle.nav-dropdown(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
              | #{user.name}
              span.caret
            ul.dropdown-menu
              li
                a(href='#') Settings
              li
                a(href='#') Logout
        else
          li.dropdown
            a(href='/login')
              | Login