extends layout

block content
  #wrapper.container
    include partials/nav.jade
    h1 Welcome Kbook
    h2 Some of our Users
    a(href='/users/karthikv') Karthik
    &nbsp
    a(href='/users/sobingt') Sobin
    &nbsp
    a(href='/users/akshayiyer378') Akshay
    &nbsp
    a(href='/users/alistermendes') Alister
    &nbsp
    a(href='/users/joaquimfranco146') Joaquim
    &nbsp
    a(href='/users/heenalunadkat') Heenal
    &nbsp
    a(href='/users/shrutik.k7') Shrutik
