html
  head
    title= Kbook
    link(rel="stylesheet", type="text/css", href="/vendor/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", type="text/css", href="/vendor/bootstrap/dist/css/bootstrap-theme.css")
    link(rel="stylesheet", type="text/css", href="/css/style.css")
  body
    block content
    script(src="/vendor/jquery/dist/jquery.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.js")
    script(src="/vendor/masonry/dist/masonry.pkgd.js")
    script(src="/js/main.js")