html
  head
    title= Kbook
    link(rel="stylesheet", type="text/css", href="vendor/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", type="text/css", href="vendor/bootstrap/dist/css/bootstrap-theme.css")
    link(rel="stylesheet", type="text/css", href="css/style.css")
  body
    #wrapper.container
      header.row        
        nav.navbar.navbar-default
          .container-fluid
            .navbar-header
              a.navbar-brand(href='#')
                img.logo(alt='Brand', src='images/logo.png')
            ul.nav.navbar-nav.navbar-right
              li.dropdown
                img.profile-small(alt="Karthik", src="https://graph.facebook.com/100000384512724/picture?type=large")
                a.dropdown-toggle.nav-dropdown(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | Karthik 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#') Settings
                  li
                    a(href='#') Logout
      #content.row
        .col-md-2.sidebar
            .row.profile-image
            .row.profile-info-box
              ul.profile-info
                li 
                  i.glyphicon.glyphicon-user
                  | &nbsp; Kartik
                li 
                  i.glyphicon.glyphicon-info-sign
                  | &nbsp; 32 years
                li 
                  img.gender-icon(src="images/gender-icon.png")
                  | &nbsp; Male
        .col-md-9
          p Profile Content Page
    script(src="vendor/jquery/dist/jquery.js")
    script(src="vendor/bootstrap/dist/js/bootstrap.js")