extends layout

block content
    #wrapper.container
      include partials/nav.jade
      #content.row
        .col-md-2.sidebar
            .row.profile-image
            .row.profile-info-box
              ul.profile-info
                li 
                  i.glyphicon.glyphicon-user
                  | &nbsp; #{user.fullname}
                li 
                  i.glyphicon.glyphicon-info-sign
                  | &nbsp; #{user.age} years
                li 
                  img.gender-icon(src="/images/gender-icon.png")
                  | &nbsp; #{user.gender}
        .col-md-9
          .grid.js-masonry(data-masonry-options='{ "itemSelector": ".grid-item", "columnWidth": 200 }')
            .grid-item
              img(alt="Karthik", src="https://graph.facebook.com/100000384512724/picture?type=large")
            .grid-item
              img(alt="Karthik", src="https://graph.facebook.com/100000384512724/picture?type=large")
            .grid-item
              img(alt="Karthik", src="https://graph.facebook.com/100000384512724/picture?type=large")
            .grid-item
              img(alt="Karthik", src="https://graph.facebook.com/100000384512724/picture?type=large")
            .grid-item
              img(alt="Karthik", src="https://graph.facebook.com/100000384512724/picture?type=large")
            .grid-item
              img(alt="Karthik", src="https://graph.facebook.com/100000384512724/picture?type=large")